{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Testent</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Abc</th>
                <td>{{ entity.abc }}</td>
            </tr>
            <tr>
                <th>Test</th>
                <td>{{ entity.test }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('testent') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('testent_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
