X<div class="row">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register col-xs-12 col-md-offset-3 col-md-6">

        {% set passwordError = 0 %}
        {% for passwordField in form.plainPassword %}
            {% if form_error(passwordField) %}
                {% set passwordError = 1 %}
            {% endif %}
        {% endfor %}

        {% if form_error(form) or form_error(form.username) or form_error(form.email) or passwordError %}
            <div class="alert alert-danger" role="alert">
                {{ form_error(form) }}
                {{ form_error(form.username) }}
                {{ form_error(form.email) }}
                {{ form_error(form.plainPassword[0]) }}
                {{ form_error(form.plainPassword[1]) }}
            </div>
        {% endif %}

        <div class="form-group">
            {{ form_label(form.username, null, 'label-attr' => array('class', 'control-label')) }}
            {{ form_widget(form.username, 'attr' => array('class', 'form-control')) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email, null, 'label-attr' => array('class', 'control-label')) }}
            {{ form_widget(form.email, 'attr' => array('class', 'form-control')) }}
        </div>

        {% for passwordField in form.plainPassword %}
            <div class="form-group">
                {{ form_label(passwordField, null, 'label-attr' => array('class', 'control-label')) }}
                {{ form_widget(passwordField, 'attr' => array('class', 'form-control')) }}
            </div>
        {% endfor %}

        <div>
            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-lg btn-success" />
        </div>
    </form>
</div>