{% extends '@ArthurHoaroRssCruncherClient/layout.html.twig' %}

{% block body %}

  <h1>Client edit</h1>

  <div class="row">
    {{ form_start(
    edit_form,{'method': 'post', 'action': path('arthur_hoaro_rss_cruncher_client_update', {'id':entity.id}), 'attr':
      {'class': 'fos_user_registration_register col-md-offset-3 col-md-6 col-xs-12'}}
    )
    }}
    <div class="form-group {% if form_errors(edit_form.name) %}has-error{% endif %}">
      {{ form_label(edit_form.name, null, { 'label_attr': {'class': 'control-label'} }) }}
      {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>


    <div class="form-group {% if form_errors(edit_form.redirectUri) %}has-error{% endif %}">
      {{ form_label(edit_form.redirectUri, null, { 'label_attr': {'class': 'control-label'} }) }}
      {{ form_widget(edit_form.redirectUri, { 'attr': {'class': 'form-control'} }) }}
    </div>

    {{ form_end(edit_form) }}
  </div>

  <ul class="record_actions">
    <li>
      <a href="{{ path('arthur_hoaro_rss_cruncher_client_index') }}">
        Back to the list
      </a>
    </li>
    <li>{{ form(delete_form) }}</li>
  </ul>
{% endblock %}
